extends layout

block content
  div.header
  div.navbar
    a home
    a news
    div.subnav
      button.subnavbtn games
        i.fa.fa-caret-down
      div.subnav-content
        a Gen-1
        a Gen-2
    a pokemon 
    a moves
  div.clearfix
    div.column.menu här listas saker
      ul 
        li 
          a(href="/bulbasaur") Bulbasaur
